html {
	font-family: 'Raleway', sans-serif;
	background-color: #F5F5F5;
}

/*==============================*/
/*            Nav               */
/*==============================*/

#navBar {
	width: 90%;
	/*background-color: burlywood;*/
	margin: 0 auto;
	height: 100px;
}

#name {
	float: left;
}

#navButtons {
	float: right;
	margin-top: 35px;
}

#row1 {
	width: 90%;
	background-color: red;
	margin: 0 auto;
}

#s1 {
	width: 49%;
	/*background-color: burlywood;*/
	height: 300px;
	float: left;
	/*margin-top: 2%;*/
	/*margin-left: 5%;*/
	/*margin-right: 2.5%*/
	font-size: 2em;
}

#s2 {
	width: 49%;
	background-color: #BDBDBD;
	height: 300px;
	float: right;
	/*margin-top: 2%;*/
	/*margin-right: 5%;*/
	/*margin-left: 2.5%	*/
	color: #F5F5F5;
}

#s2 h2{
	margin-left: 10px;
}

#row2 {
	width: 90%;
	background-color: red;
	margin: 0 auto;
}

#s3 {
	width: 49%;
	background-color: #BDBDBD;
	height: 300px;
	float: left;
	margin-top: 2%;
	/*margin-left: 5%;*/
	/*margin-right: 2.5%*/
}

#s3Div {
	background-color: white;
	width: 100px;
	text-align: center;
	margin: 0 auto; 
	margin-top: 155px;
}

.middle {
	/*background-color: white;*/
	width: 100px;
	/*text-align: center;*/
	/*margin: 0 auto; */
	/*margin-top: 50px;*/
	margin-bottom: 50px;
	margin-left: 10px;
	color: #F5F5F5;	
}

.icon {
	width: 20%;
	margin: 0 2%;

}


#s4 {
	width: 49%;
	background-color: orange;
	height: 300px;
	float: right;
	margin-top: 2%;
	/*margin-right: 5%;*/
	/*margin-left: 2.5%	*/	
}

#s4Div {
	background-color: white;
	width: 150px;
	text-align: center;
	margin: 0 auto; 
	margin-top: 155px;
}

#row3 {
	width: 90%;
	background-color: red;
	margin: 0 auto;
}

#s5 {
	width: 49%;
	background-color: brown;
	height: 300px;
	float: left;
	margin-top: 2%;
	/*margin-left: 5%;*/
	/*margin-right: 2.5%*/
}

#s6 {
	width: 49%;
	background-color: yellow;
	height: 300px;
	float: right;
	margin-top: 2%;
	/*margin-right: 5%;*/
	/*margin-left: 2.5%	*/	
}


/*============================================*/
/**/
/*============================================*/

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}






